# app
REST_PORT=8080

# postgres
POSTGRES_USER=tlab
POSTGRES_PASSWORD=tlab
POSTGRES_DB=cookbook_management
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_SSLMODE=disable
POSTGRES_MAX_OPEN_CONNS=4
POSTGRES_MAX_IDLE_CONNS=5
POSTGRES_MAX_IDLE_TIME_MINUTES=5
POSTGRES_MAX_LIFE_TIME_HOURS=7
